@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/actions/**/*';
@source '../../../../resources/views/filament/tables/columns/**/*';
@source '../../../../resources/views/filament/**/*';

.fi-topbar-start {
    @apply block;
}
.fi-sidebar-header {
    @apply border-b border-gray-200 dark:border-gray-800;
}
.fi-ta-text:not(.fi-inline) {
    padding-inline: calc(var(--spacing) * 1);
    padding-block: calc(var(--spacing) * 1);
}
.ad-accounts-table .fi-ta-header-toolbar>.fi-ta-actions.fi-align-start::before {
    content: 'Ad Accounts';
    display: inline-flex;
    align-items: center;
    font-size: var(--text-base);
    font-weight: var(--font-weight-semibold);
    --tw-leading: calc(var(--spacing) * 6);
    line-height: calc(var(--spacing) * 6);
    --tw-font-weight: var(--font-weight-semibold);
    color: var(--gray-950);
    white-space: nowrap;
}
.pending-orders-table .fi-ta-header-toolbar>.fi-ta-actions.fi-align-start::before {
    content: 'Pending Orders';
    display: inline-flex;
    align-items: center;
    font-size: var(--text-base);
    font-weight: var(--font-weight-semibold);
    --tw-leading: calc(var(--spacing) * 6);
    line-height: calc(var(--spacing) * 6);
    --tw-font-weight: var(--font-weight-semibold);
    color: var(--gray-950);
    white-space: nowrap;
}
.orders-modal-window .fi-ta-header-toolbar>.fi-ta-actions.fi-align-start::before {
    content: 'Order History';
    display: inline-flex;
    align-items: center;
    font-size: var(--text-base);
    font-weight: var(--font-weight-semibold);
    --tw-leading: calc(var(--spacing) * 6);
    line-height: calc(var(--spacing) * 6);
    --tw-font-weight: var(--font-weight-semibold);
    color: var(--gray-950);
    white-space: nowrap;
}
.fi-ta-cell:has(.fi-ta-actions) {
    padding-inline: calc(var(--spacing) * 1);
    padding-block: calc(var(--spacing) * 1);
}
.fi-ta-cell:has(.fi-ta-actions):first-of-type {
    padding-inline-start: calc(var(--spacing) * 2);
}
.add-fund-button {
    padding: 0;
    box-shadow: none;
    background: none;

    .fi-icon {
        width: 36px;
        height: 36px;
    }
}
.order-status-badge .fi-badge-label {
    overflow: visible;
}

.fi-main {
    @apply p-2 lg:p-4;
}

.fi-page-header-main-ctn {
    @apply py-2;
}

.fi-modal-heading {
    @apply line-clamp-1;
}

.orders-modal-overlay+.fi-modal-window-ctn,
.orders-modal-window .fi-modal-header,
.orders-modal-window .fi-modal-content,
.orders-modal-window .fi-modal-footer {
    @apply p-2 lg:p-4;
}