@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/actions/**/*';
@source '../../../../resources/views/filament/tables/columns/**/*';
@source '../../../../resources/views/filament/**/*';

.fi-topbar-start {
    @apply block;
}
.fi-sidebar-header {
    @apply border-b border-gray-200 dark:border-gray-800;
}
.fi-ta-text:not(.fi-inline) {
    padding-inline: calc(var(--spacing) * 2);
    padding-block: calc(var(--spacing) * 2);
}
[wire\:name="App\\Filament\\Widgets\\PendingOrdersTableWidget"] .fi-ta-header-toolbar>.fi-ta-actions.fi-align-start::before {
    content: 'Pending Orders';
    display: inline-flex;
    align-items: center;
    font-size: var(--text-base);
    font-weight: var(--font-weight-semibold);
    --tw-leading: calc(var(--spacing) * 6);
    line-height: calc(var(--spacing) * 6);
    --tw-font-weight: var(--font-weight-semibold);
    color: var(--gray-950);
    white-space: nowrap;
}
[wire\:name="App\\Filament\\Widgets\\AdAccountsTableWidget"] .fi-ta-header-toolbar>.fi-ta-actions.fi-align-start::before {
    content: 'Ad Accounts';
    display: inline-flex;
    align-items: center;
    font-size: var(--text-base);
    font-weight: var(--font-weight-semibold);
    --tw-leading: calc(var(--spacing) * 6);
    line-height: calc(var(--spacing) * 6);
    --tw-font-weight: var(--font-weight-semibold);
    color: var(--gray-950);
    white-space: nowrap;
}
.add-fund-button {
    padding: 5px;
    box-shadow: none;

    .fi-icon {
        width: 36px;
        height: 36px;
    }
}
